<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta delectus, nihil voluptatum exercitationem illo temporibus incidunt voluptatem amet repellat, id dicta? Esse cumque, possimus est pariatur expedita ut? Error eveniet animi quibusdam laudantium est alias tempora totam, ad doloremque consequatur.</p>
    </div>
</div>