<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit,</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ducimus reprehenderit assumenda similique veritatis inventore odio enim eveniet, perspiciatis laborum, fugit placeat sint deleniti doloremque obcaecati error earum aut repellendus.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">goolgle</a>
</div>